main {
    margin-top: 100px;
    background-color: #f5f5f5;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 25px;
}

a.main-up, a.device {
    text-decoration: none;
}

a.main-up {
    color: gray;
}

a.device {
    color: black;
}

.card {
    margin: 0 auto;
    max-width: 689px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.card-container {
    max-width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.card-container, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
    cursor: pointer;
}

.card-container th:hover {
    background-color: #ddd;
}

.card-container th:nth-child(1):hover,
.card-container th:nth-child(2):hover {
    background-color: #f1f1f1;
    cursor: default;
}
